* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#navbar {
  width: 100%;
  height: 75px;
  background-color: #0c3c60;
}

nav>ul>li {
  color: white;
  font-size: 18px;
  float: right;
  list-style-type: none;
  margin: 15px;
  margin-right: 50px;
  margin-top: 25px;
  font-family: "Nunito Sans", sans-serif;
  font-family: "EB Garamond", serif;
  cursor: pointer;
}

nav>ul>li:hover {
  color: rgb(29, 145, 233);
  transition: cubic-bezier(0.17, 0.67, 0.92, 0.6) 0.6s;
}

nav>ul>li>a {
  color: white;
  font-size: 19px;
  float: right;
  list-style-type: none;
  font-family: "Nunito Sans", sans-serif;
  font-family: "EB Garamond", serif;
  cursor: pointer;
  text-decoration: none;

}

nav>ul>li>a:hover {
  color: rgb(29, 145, 233);
  transition: cubic-bezier(0.17, 0.67, 0.92, 0.6) 0.6s;
}

#n-h1 {
  color: white;
  padding: 20px;
  font-family: "Rethink Sans", sans-serif;
  margin-left: 25px;
  font-weight: lighter;
  font-size: 25px;
}

#container {
  width: 100%;
  height: 580px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  background-color: #33cccc;
  animation: color 10s infinite alternate;
}

@keyframes color {
  0% {
    background: #dcddddce;
  }

  20% {
    background: #33ccccce;
  }

  40% {
    background: #4247d6;
  }

  60% {
    background: #0c3c60;
  }

  80% {
    background: #33ccccce;
  }

  100% {
    background: #dcddddce;
  }
}

#container>div {
  width: 850px;
  height: 260px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
}

#container>div>p {
  color: black;
  font-size: 30px;
  font-family: "EB Garamond", serif;
  margin-top: 15px;
}

#container>div>h1 {
  font-size: 53px;
  margin: 20px;
  color: #012542;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 5px;
}

#button {
  width: 225px;
  height: 75px;
  font-size: 17px;
  color: #104770;
  border: 1px solid #0c3c60;
  background: none;
  box-shadow: 10px 5px 5px rgb(190, 190, 190);
  margin: 10px;
  cursor: pointer;

}

#button:hover {
  color: white;
  background-color: #0c3c60;
  transition: cubic-bezier(0.17, 0.67, 0.92, 0.6) 0.6s;
}

#info {
  width: 100%;
  height: 700px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}

#info-services,
#info-projects,
#info-clients {
  width: 330px;
  height: 550px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 150px;
  font-size: 17px;
  letter-spacing: 2px;
  font-family: "Open Sans", sans-serif;
}

#info-services>h1 {
  margin-left: 80px;
  font-family: none;
}

#info-projects>h1 {
  margin-left: 80px;
  font-family: none;
}

#info-clients>h1 {
  margin-left: 85px;
  font-family: none;
}

#info-services #info-projects #info-clients>p {
  font-size: 17px;
  font-weight: bold;
  font-family: "EB Garamond", serif;

}

#inf-btn {
  width: 180px;
  height: 50px;
  font-size: 17px;
  color: #104770;
  border: 1px solid #0c3c60;
  background: none;
  margin-left: 30px;
  cursor: pointer;

}

#info-clients>a>button {
  margin-left: 60px;
}

#info-projects>a>button {
  margin-left: 50px;
}

#inf-btn:hover {
  color: white;
  background-color: #0c3c60;
  transition: cubic-bezier(0.17, 0.67, 0.92, 0.6) 0.6s;
}


#about-us {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#about-us>h1 {
  font-size: 36px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
  margin: 10px;
  margin-top: 100px;
  color: #072136;
}

#about-us>p {
  margin: 20px;
  margin-left: 250px;
  margin-right: 250px;
  font-size: 20px;
  font-family: "EB Garamond", serif;
  word-spacing: 3px;

}


#about-btn {
  width: 180px;
  height: 50px;
  border: 1px solid #0c3c60;
  background: none;
  cursor: pointer;
  color: #104770;
  font-size: 17px;
  text-decoration: none;
  margin: 30px;
}


#about-btn:hover {
  color: white;
  background-color: #0c3c60;
  transition: cubic-bezier(0.17, 0.67, 0.92, 0.6) 0.6s;
}


.testimonial {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.testimonial-container {
  perspective: 1000px;
  width: 500px;
  height: 300px;
  position: relative;
  margin: 20px;
}

.testimonial-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.testimonial-card.flipped {
  transform: rotateY(180deg);
}

.testimonial-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", serif;
  font-size: 18px;
  color: black;
  background-color: #339ccc;
  border-radius: 15px 0px;
  padding: 10px;
}

.testimonial-face>p:nth-child(1) {
  margin-left: 25px;
}

.testimonial-face>p:nth-child(2) {
  font-size: 15px;
  margin: 30px;
}

.testimonial-face>p:nth-child(3) {
  font-size: 14px;
}


.testimonial-back {
  transform: rotateY(180deg);
}



