$primary-color: #0c3c60;
$color2: white;
$Rethink: "Rethink Sans", sans-serif;
$OpenSans: "Open Sans", sans-serif;
$NunitoSans: "Nunito Sans" sans-serif;
$EBgarmond: "EB Garamond", serif;
$Lato: 'Lato', sans-serif;
$commonFontSize: 17px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#navbar {
    width: 100%;
    height: 75px;
    background-color: $primary-color;

    a {

        text-decoration: none;

        h1 {
            color: $color2;
            padding: 20px;
            font-family: $Rethink;
            margin-left: 25px;
            font-weight: lighter;
            font-size: 25px;
        }
    }

    li {
        float: right;
        list-style-type: none;
        margin: 15px;
        margin-right: 50px;
        margin-top: 25px;

        a {
            color: $color2;
            font-size: 20px;
            float: right;
            font-family: $EBgarmond;
            cursor: pointer;
            text-decoration: none;

        }

        :hover {
            color: rgb(29, 145, 233);
            transition: 0.6s;
        }

    }
}


.main{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 60px;
        color: $primary-color;
        margin-top: 100px;
        font-family: $Lato;
    }

    p{
        font-size: 16px;
        color: $primary-color;
        margin: 15px;
        font-family: $NunitoSans;
    }

    .pricing{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;

        div{
            width: 500px;
            height: 670px;
            margin: 10px;
            border: 1px solid grey;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            

            h2{
                color: $primary-color;
                margin: 50px 0px 20px 0px;
            }

            h1{
                margin: 0px 0px;
            }

            p{
                font-size: 14px;
                color: $primary-color;
            }


            button{
                width: 255px;
                height: 50px;
                background-color: $primary-color;
                color: white;
                border: none;
                font-size: 18px;
            }
           button:hover{
            transition: 0.5s;
            opacity: 0.6;
           }


           #p{
                margin: 30px 0px 0px;
                color: black;
                font-size: 16px;
           }

        }
    }
}

#contact {
    width: 100%;
    height: 600px;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;

    h1 {
        font-family: $Lato;
        color: $color2;
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 0px;
        word-spacing: 3px;
    }

}


#inputs {
    max-width: 100%;
    height: 600px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    input {
        background: none;
        border: none;
        border-bottom: 2px solid $color2;
        outline: none;
        width: 445px;
        height: 55px;
        margin: 10px;
    }


    input::placeholder {
        color: $color2;
        font-size: $commonFontSize;
        font-family: $OpenSans;
        transform: translateY(-15px);
    }

    input:focus {
        border: none;
        border-bottom: 2px solid $color2;
        font-size: 19px;
        color: $color2;
    }

    input[type="submit"] {
        width: 190px;
        height: 55px;
        color: #072136;
        font-size: 17px;
        background: $color2;
        border: none;
        font-family: $NunitoSans;
        cursor: pointer;

    }


    input[type="submit"]:hover {
        background: none;
        color: $color2;
        border: 1px solid $color2;
        transition: 1.5s;
    }

}


#footer {
    background-color: #072136;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;

    div {
        width: 210px;

        h2 {
            color: $color2;
            font-family: $OpenSans;
            letter-spacing: 2px;
            font-size: 22px;
            margin-top: 50px;

        }

        h3 {
            color: $color2;
            font-family: $Lato;
            margin-top: 55px;
        }

        p {
            color: $color2;
            font-family: $Lato;
            font-weight: bolder;
            margin: 7px;
        }

        a {
            text-decoration: none;
            color: $color2;
            font-family: $OpenSans;
            font-weight: bolder;
            margin: 7px;
        }

        a:hover {
            color: rgb(29, 145, 233);
            transition: 0.6s;
        }

    }

}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#facebook {
    color: $color2;
    font-weight: bolder;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
}